<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-charts-tab" data-toggle="tab" href="/client-home" role="tab"
            aria-controls="nav-charts" aria-selected="false"><span class="fa fa-user"></span> Book Flight</a>
        <a class="nav-item nav-link" id="nav-tables-tab" data-toggle="tab" href="/client-table" role="tab"
            aria-controls="nav-tables" aria-selected="false"><span class="fa fa-table"></span> Schedules</a>
    </div>
</nav>