<nav class="navba-expand-lg-dark" style="background-color: #87cefa;">
        <a class="navbar-brand YaoAirline" href="#"><span class="fa fa-plane"></span> Yao Airline <span class="fa fa-plane"></span> </a>
</nav>