<!-- MAIN LAYOUT: Required to be in views/layouts/main.hbs -->

<!DOCTYPE html>
<html>
     <meta>
     <title>Yao Airline</title>
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/my.css">
    <link rel="stylesheet" type="text/css" href="css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/loader.js"></script>
    <script type="text/javascript" src="js/datatables.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script  src="js/my.js"></script>
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
   <link rel="icon" href="img/line-plane-shipping-icon-on-white-background-vector-17697427">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  
    </head>

  <body>
    {{> nav}}
      {{{ body }}}

  </body>
  
</html>

