{{> nav2}}
<div>
<br>
    <div style="min-height: 400px;">
        <form class="form-block" style="text-align: center;">
            <p class="rockwell" style="color: #581716; font-size: 18px;">Please choose a DataBase then click the <u><b>UPLOAD</b></u> or <u><b>MERGE</b></u> button! You can also click the <u><b>CLEAR</b></u> button to remove the current data.</p>
             <img src="img/giphy.gif" style="width: 15%; height:15%; object-fit: contain; position:absolute; TOP:400px;">
             <label class="up krabbypatty" style="color: #581716; font-size: 1.875em; font-weight: bold; ">UPLOAD A DataBase:</label>
              <div class="input-group mb-2 mr-sm-2">
                 <input id="uploader" type="file" class="form-control" name="">
            </div>
            <button id='upload' type="button" class="btn mb-2 mr-2 rockwell" style="color: white; background-color: #b9b9b9; border-radius: 8px;">UPLOAD</button>
            <button id='merge-button' type="button" class="btn mb-2 mr-2 rockwell" style="color: white;background-color: #b9b9b9; border-radius: 8px;">MERGE</button>
            <button id='clear' type="button" class="btn mb-2 rockwell"style="color: white; background-color: #b9b9b9;border-radius: 8px;">CLEAR</button>
        </form>
    </div>
 </div>