<div>
    <form>
        <div class="form-group row">
         <label for="crecomp" class="col-sm-1 col-form-label"> Compnay </label>
        <div class="col-sm-2">
        <input type="date" class="form-control" name="crecomp" id = "crecomp" placeholder="Yao Airlines" ></input>
   </div>
   </div>
      <div class="form-group row">
         <label for="creplane" class="col-sm-1 col-form-label"> Plane Number </label>
        <div class="col-sm-2">
        <input type="text" class="form-control" name="crecomp" id = "creplane" placeholder="EXT_3452"></input>
   </div>
   </div>  
   <input type="submit" id="addPlane" >
    </form>
</div>


<!-- 
    Kung kaya pop up nlng to - make it happen ryan!!!!!!!

!--> 