{{> nav2}}
<form id = "searchFlightform"   >
<label for = "searchflight">Input the Flight number that you wish to edit:</label>
<input type ="text" id="searchflight" >
<button id='btnsearchflights' type="button" >Search Flight</button>


</form>
<label>Flight Details: </label>
<form id="Flightsform" >  
</form>