{{> nav  name=username}}
{{> client_nav}}
<form id = "searchBookingform"   >
<label for = "searchflight">Input the FLIGHT NUMBER of the booking you wish to edit:</label>
<input type ="text" id="searchflight" >
<button id='btnsearchflights' type="button" >Search Booking</button>


</form>
<label>Booking Details: </label>
<form id="BookingForm" >  
</form>